/* Header.css */
.navbar-custom {
  padding: 10px 20px;
}

.navbar-custom .nav-link {
  margin: 0 15px;
}

.navbar-custom .dropdown-menu {
  display: none; /* Deja el dropdown oculto por defecto */
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navbar-custom .nav-item:hover .dropdown-menu {
  display: block; /* Muestra el dropdown cuando el mouse está encima */
  opacity: 1;
}

.navbar-custom .dropdown-menu a {
  color: #000;
  padding: 10px 20px;
  white-space: nowrap;
}

.navbar-custom .dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.navbar-custom .btn-logout {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .navbar-custom .nav-link {
    margin-bottom: 10px;
  }

  .navbar-custom .navbar-collapse {
    text-align: center;
  }
}
