.card {
  width: 250px;
  height: 300px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  position: relative; /* Necesario para posicionar el icono */
}

.card img {
  width: 75%;
}

.card h3 {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

.card p {
  margin: 5px 0;
  color: #555;
}

.card:hover {
  transform: scale(1.05);
}

/* Estilo para el corazón (favorito) */
.favorite-icon {
  position: absolute;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5em;
  color: gray;
  transition: transform 0.2s ease;
}

.favorite-icon:hover {
  transform: scale(1.2);
  color: gold;
}

.recipe-container {
  color: black;
  align-items: center;
}

.loading-container .error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

/* Spinner de carga */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Ajustes de la contenedora */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.favorite-list-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.favorite-list-header h2 {
  color: black;
}
