.recipe-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  color: #333;
  padding: 20px;
}

.container-head {
  width: auto;
}
@media (min-width: 768px) {
  .recipe-detail {
    flex-direction: row; /* En pantallas grandes, los hijos estarán uno al lado del otro */
  }
}

.container {
  padding: 20px;
  width: auto;
  border-radius: 5px;

  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background: #ffffff;
  max-width: 500px;
}

.container-img img {
  width: 400px;
  margin-top: 30px;
}

.content-container img {
  width: 100%;
  border-radius: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-container {
  flex: 1 1 45%;
  align-items: center;
  display: flex;
  padding: 20px;
  flex-direction: column;

  box-sizing: border-box;
}
@media (max-width: 768px) {
  .container-container {
    flex: 1 1 100%; /* En pantallas pequeñas, cada contenedor ocupa el 100% del ancho */
  }
}

.container-info {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 20px;
}

.container-instructions {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.5;
  padding: 20px;
}
