.recipe-container {
  display: grid;
  gap: 20px; /* Espaciado entre las tarjetas */
  padding: 20px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Ajuste dinámico */
  justify-content: center;
}

/* Opcional: Estilo de las tarjetas */
.recipe-container div {
  border-radius: 10px;

  overflow: hidden;
  transition: transform 0.3s;
}

.recipe-container div:hover {
  transform: scale(1.05);
}
.load-more-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.load-more-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more-button:hover {
  background-color: #0056b3;
}
